<div class="container">
  <div class="card">
    <h1>registration</h1>

     <form>
       <label for="username">username</label>
       <input placeholder="Enter username" type="text" class="form-control" #username >

       <label for="name">name</label>
       <input placeholder="Enter name" type="text" #name class="form-control" >

       <label for="email">email</label>
       <input placeholder="Enter email" type="email" #email class="form-control" >

       <label for="password">password</label>
       <input placeholder="Enter password" type="password" #password class="form-control"  >


       <button   class="btn btn-primary">submit</button>
     </form>
  </div>
</div>
