.card
{
  width: 55%;
  box-shadow: 2px 2px 4px 4px gray;
  padding: 20px;
}

.field-control
{
  margin-top: 20px;
}
input.ng-invalid.ng-touched
{
  border-color: red;

}
span{
  color: red;
}
h1{
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  color: gray;
  text-align: center;
}
label
{
  font-weight: 500;
  color: rgb(47, 47, 201);
  text-transform: uppercase;
  font-size: 13px;

}
